@{
    int currentStep = ViewBag.CurrentStep ?? 1;
}

<div class="checkout-steps">
    <div class="step @(currentStep == 1 ? "active" : "")">
        Thông tin
    </div>
    <div class="step @(currentStep == 2 ? "active" : "")">
        Dịch Vụ
    </div>
    <div class="step @(currentStep == 3 ? "active" : "")">
        Thanh toán
    </div>
</div>
